<nav>
   <h1 class='app-name'> <%= I18n.t('app_name') %> </h1>
   <ul class='nav-list top-menu'>
      <li class='nav-list-item'> <%= I18n.t('site_sections.formation') %> </li>
      <li class='nav-list-item'> <%= I18n.t('site_sections.projects') %> </li>
      <li class='nav-list-item'> <%= I18n.t('site_sections.publications') %> </li>
      <li class='nav-list-item'> <%= I18n.t('site_sections.other_skills') %> </li>
   </ul>
</nav>