<footer>
  <nav>
    <h1 class="my-name-footer"> <%= I18n.t('section.where_to_find_me')%> </h1>
    
    <ul class="nav-list footer-menu">
      <li class="nav-list-item"> <a href="https://www.linkedin.com/in/ismael-cesar-11927146" target="_blank" alt="Hiper Link para o linkedin de Ismael "> <%= image_tag 'linkedin_white.png', class: 'footer-logo'%> </a></li>
      <li class="nav-list-item"> <a href="https://github.com/IsmaelCesar" target="_blank" alt="Hiper Link para o github de Ismael "> <%= image_tag 'github_white.png', class: 'footer-logo' %> </a></li>
      <li class="nav-list-item"> <a href="http://lattes.cnpq.br/7125338940009959" target="_blank" alt="Hiper Link para o curriculo lattes de Ismael "> <%= image_tag 'lattes_white.png', class: 'footer-logo' %> </a></li>
      <li class="nav-list-item"> <a href="https://www.researchgate.net/profile/Ismael_Araujo" target="_blank" alt="Hiper Link para o research gate de Ismael "><%= image_tag 'researchgate_white.png', class: 'footer-logo' %> </a> </li>
    </ul>
  </nav>
</footer>