<section id="publications-section">
  <h1 class="section-title"><%= I18n.t('site_sections.publications') %></h1>
  <div id="publication-set">
    <% publications.each do |publication| %>
      <a class="publication-source" href="<%= publication.source.blank? ? '#' : publication.source %>"> 
        <div class="publication-container">
          <h5 class="publication-title"> <%= publication.title %> </h5>
          <p class="publication-authors-names"> 
            <% publication.authors.each do |author| %>
              <em> <%= author.name %>, </em>
            <% end %>
          </p>
          <p class="publication-description"> <%= publication.publication_place %> </p>
        </div>
      </a>
    <% end %>
  </div>
</section>