<div class="container-fluid">

  <%= render 'my_cv/partials/about_me' %>

  <hr>

  <%= render 'my_cv/partials/formation', formations: @formations %>

  <hr>

  <%= render 'my_cv/partials/projects', projects: @projects %>

  <hr>

  <%= render 'my_cv/partials/publications', publications: @publications %>

  <hr>

  <%= render 'my_cv/partials/languages', languages: @languages %>

  <hr>

  <%= render 'my_cv/partials/programming_languages' %>

  <hr>

  <%= render 'my_cv/partials/other_skills' %>
</div>