<h1>MyCv#index</h1>

<hr>
<%= render 'my_cv/partials/about_me' %>

<hr>

<%= render 'my_cv/partials/projects' %>

<hr>

<%= render 'my_cv/partials/publications' %>

<hr>

<%= render 'my_cv/partials/programming_languages' %>

<hr>

<%= render 'my_cv/partials/other_skills' %>